<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Not Found</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      The short link "<%= @short %>" doesn't seem to exist.
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= link_to "Click Here", new_link_path(short_name: @short) %> to create it
    </div>
  </div>

</div>
